@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
 background: #fff8ff;
}

.article {
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 1rem;
  --tw-shadow: 0 1px 3px 0 rgba(32, 2, 45, 0.352), 0 1px 2px -1px rgba(58, 1, 63, 0.397);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #2801346b), var(--tw-ring-shadow, 0 0 #3c013757), var(--tw-shadow);
}
.divider{
  border-top-width: 1px !important;
  border-color: #900090;
}

.gradient-color{
  background: linear-gradient(45deg,#b772ff, #ec88bc);
}